<?xml version="1.0" encoding="UTF-8"?>
<!--
    WordPress-loaded suite. Needs MySQL and a mai_performance_images_tests database. See README.md.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheResultFile="../.phpunit.cache/test-results"
         backupGlobals="false"
         colors="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="integration">
            <directory suffix="Test.php">./integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>
